/* body Styles */
body {
    margin: 0;
    background-color: lightsteelblue;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* h1 styles */




/* specfic wellness pro data styles */
.practiceName {
    font-size: 1.25em;
    font-weight:bold;
}

/*/* nav link styles */
/*.navLink {
    position: absolute;
    padding-bottom: 10px;
}


#prev {
    left: 30.5%;
}

#next {
    right: 30.5%;
}*/*/




