
/* body styles*/
body {
    margin: 0;
    background-color: lightsteelblue;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* h1 styles */
h1 {
    margin-left: 10px;
}

/* nav link styles */
.navLink {
    position: absolute;
    padding-bottom: 10px;
}

#prevPage {
    left: 30.5%;
}

#nextPage {
    right: 30.5%;
}

.convoItm {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.convoItm:last-child {
    border-bottom: 1px solid black;
}

.convoBox {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.read, .sender, .date, .time {
    display: inline-block;
    font-size: 18px;
}

.contents {
    font-size: 18px;
    font-weight: bold;
}


.date, .time {
    font-size: 12px;
}

.msgSender {
    text-align: left;
}

.msgReceiver, .date {
    text-align: right;
}


.head {
    display: inline;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.msgBox, .convoBox{
    height: 100%;
    overflow: auto;
}

