{# Displays nearby wellness professionals #}

{% extends 'base.html.twig' %}

{% block title %}Nearby Wellness Professionals{% endblock %}

{% block stylesheets %}
{{ parent() }}




{% endblock %}

{% block javascripts %}

<script type="text/javascript">
	var DOING_AJAX = false;
	var resizing;

        //Variable to determine if nav arrows need to be shown
	var totalPages = 0;

	var isDesktop = false;
	var previousScreen = false;

	function checkDesktop() {
		previousScreen = isDesktop;
		isDesktop = $(window).width() > 992;
	}

        //Variable to decide which page to show
        var pageNum = 0;

        //Make AJAX call to wellness controller here to get list of nearby wellness professionals
        var viewModel = {
            wellnessPros: ko.observableArray(),
            getIndex: function ( index) {
                return "map_img_" + index
            },
                        getHrefIndex: function ( index) {
                return "#map_img_" + index
            },
						getWellnessPros: function () {

                            //Ensures that the loads do not double load
							if (isDesktop) {
								DOING_AJAX = false;
								pageNum--;
								viewModel.wellnessPros.removeAll();
							}

							if (pageNum < 0) {
								pageNum = 0;
							}

                            //Only do this if not already loading AJAX
							if (!DOING_AJAX) {
								DOING_AJAX = true;
								pageNum++;
								$("#loading").show();
								$(".errorMsg").hide();
								$.ajax(
									{

										url: '../WellnessProfessionals/view/' + pageNum,
										type: 'GET',
										dataType: 'json',

										//Pass in page number we want to see


										success: function (jsonResponse) {
											$("#loading").hide();

											//Deal with the response
											if (jsonResponse.status == "success") {
												if ($("#pagination-holder").is(":visible")) {
													viewModel.wellnessPros.removeAll();
												}

												for (var i = 0; i < jsonResponse.data.objects.length; i++) {
													//Convert phone number to good format
													var phone = jsonResponse.data.objects[i].objectData.contactNumber;
													if (phone != null) {
														phone = "(" + phone.substring(0, 3) + ") " + phone.substring(3, 6) + " - " + phone.substring(6, 10);
														jsonResponse.data.objects[i].objectData.contactNumber = phone;
													}

													viewModel.wellnessPros.push(jsonResponse.data.objects[i].objectData);
												}

												totalPages = Math.ceil(jsonResponse.data.totalFound / 10);

												//Check for nav arrows
												showNavArrows();

												if ($(window).width() < 992) {
													$(".map-button").show();
													$(".map-image").addClass("collapse");
												}
												else {
													// do something for big screens
													$(".map-button").hide();
													$(".map-image").removeClass("collapse");
												}
                                                DOING_AJAX = false;
												

											}
											//status is failure
											else {
												$('#jsonError').html(jsonResponse.message);
												if ($('#jsonError').text() != "Invalid page request") {
													$(".errorMsg").show();
												}

											}
                                            
										}
									})
							}
						}
            };

        //Add method to determine if navigation arrows are needed
        function showNavArrows()
        {
            //Show/hide next nav link
            if (pageNum < totalPages)
            {
				$("#next").show();
				$("#pagination-holder").addClass("d-lg-block");
            }
            else
            {
                $("#next").hide();
            }

            //Show/hide prev nav link
            if (pageNum > 1)
            {
				$("#prev").show();
				$("#pagination-holder").addClass("d-lg-block");
            }
            else
            {
                $("#prev").hide();
            }

			if (pageNum >= totalPages && pageNum <= 1) {
				$("#pagination-holder").removeClass("d-lg-block");
			}

        }

        //Functionality to perform once the page loads
        $(function () {
            ko.applyBindings(viewModel);
            viewModel.getWellnessPros();
            $("#next").hide();
            $("#prev").hide();

            //Click handler for next
            $("#next").click(function () {
                pageNum++;
                if (pageNum > totalPages)
                {
                    pageNum = totalPages;
                }

                viewModel.getWellnessPros();
            });

            //Click handler for prev
            $("#prev").click(function () {
                pageNum--;
                if (pageNum < 1)
                {
                    pageNum = 1;
                }

                viewModel.getWellnessPros();
            });

        });
</script>
<script>
    //Sets some styles and changes things depending on screen size
		$(window).resize(function () {

		if ($(window).width() < 992) {
			    $(".map-button").show();
                $(".map-image").addClass("collapse");
            }
		else {
			    $(".map-button").hide();
                $(".map-image").removeClass("collapse");
            }

            //This chunk lets the page reload when the page changes size, BUT only does it once the page has stopped resizing for 1 second
		clearTimeout(resizing);
		resizing = setTimeout(function () {
			checkDesktop();
			if (previousScreen != isDesktop) {
				viewModel.wellnessPros.removeAll();
				pageNum = 0;
				viewModel.getWellnessPros();
			}
		}, 1000);


		});
		checkDesktop();

    //Gets the height of the page for the infinite scroll functionality
	function getDocHeight() {
    var D = document;
    return Math.max(
        D.body.scrollHeight, D.documentElement.scrollHeight,
        D.body.offsetHeight, D.documentElement.offsetHeight,
        D.body.clientHeight, D.documentElement.clientHeight
    );
	}

	$(window).scroll(function () {
		if ($(window).width() < 992){
		   if($(window).scrollTop() + $(window).height() == getDocHeight()) {
			viewModel.getWellnessPros();
		   }
		}
   });

</script>
{% endblock %}

{% block body %}


<div id="mainWrapper" class="col-md-12 col-lg-7">
	<!-- Add heading for page -->
	<div id="headerText" class="row rounded bg-light mb-3 p-2 pl-3">
		<h1>Nearby Wellness Professionals</h1>
	</div>
	<!-- Add list of wellness professionals using knockout -->
	<div id="wellnessWrapper" data-bind="foreach: wellnessPros">
		<div class="row rounded bg-light mb-3 p-2 wellnessPro">
			<div class="col-md-12 col-lg-7">
				<div data-bind="visible: practiceName.length"><span class="practiceName font-weight-bold h5" data-bind="text: practiceName"></span></div>
				<div data-bind="visible: city.length"><span class="fa fa-building-o mr-1"></span><span class="city" data-bind="text: city"></span></div>
				<div data-bind="visible: contactNumber && contactNumber.length > 6"><span class="fa fa-phone mr-1"></span><span class="contactNumber" data-bind="text: contactNumber"></span></div>

				<div data-bind="visible: contactEmail">
					<span class="fa fa-envelope-o mr-1"></span>
					<span class="contactEmail">
						<a target="_blank" data-bind="text: contactEmail, attr:{href:'mailto:' + contactEmail}"></a>
					</span>
				</div>

				<div data-bind="visible: website">
					<span class="fa fa-desktop mr-1"></span>
					<span class="website">
						<a target="_blank" data-bind="text:website, attr:{href: website}"></a>
					</span>
				</div>


			</div>
			<div class="col-md-12 col-lg-5">
				<a class="btn btn-primary bg-info rounded map-button showmap" data-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="map" data-bind='attr: {href: $parent.getHrefIndex($index())}'><span class="fa fa-map-marker" style="font-size: large"></span></a>
				<div data-toggle="collapse" data-bind='attr: {id: $parent.getIndex($index())}' class="collapse mt-1 map-image">
					<img src="../../../img/map.JPG" class="rounded img-fluid border border-dark map" />
				</div>

			</div>
		</div>

	</div>
	<!-- Add message indicating success or failure (hidden) -->
	<div class="status"></div>

	<!-- Add error message if needed -->
	<div class="errorMsg row rounded bg-danger mb-3 p-2" id="jsonError"></div>

	<!-- Add navigation arrows that are only visible if needed -->
	<div id="pagination-holder" class="row rounded bg-light mb-3 p-2 d-none">

		<ul class="pagination justify-content-center ">
			<li class="page-item" id="prev">
				<a href="#" class="page-link"><span class="fa fa-chevron-left"></span> Previous</a>
			</li>
			<li id="next" class="page-item">
				<a href="#" class="page-link">Next <span class="fa fa-chevron-right"></span></a>
			</li>
		</ul>


	</div>

</div>

{% endblock %}