{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}
{{ parent() }}
	<!-- Style sheet for displaying messages-->
    <link type="text/css" rel="stylesheet" href="../../../styles/view_messages.css" />
{% endblock %}

{% block javascripts %}
	<!-- scripts for jquery and knockout-->
   
	<!-- viewmodel script. most of the functionality will be found here-->
    <script type="text/javascript">
        //Variable to decide which page to show
        var pageNum = 1;
		
		//Used to determine if the last message has been loaded
		var loadedLast = false;

        //Make AJAX call to wellness controller here to get list of nearby wellness professionals
        var viewModel = {
            messages: ko.observableArray(),
            
            //recreate the function to work with the json passed in above
            getMsgs: function () {
                var userID = sessionStorage.getItem('userID');
			
				//If the oldest message has been loaded do not load any more.
				if(!loadedLast){
                $.ajax(
                    {
                        //add userID to URL to know which messages to pull
                        url: '../message/view/' + userID + '/' + pageNum,
                        type: 'GET',
                        dataType: 'json',
                        //Pass in page number we want to see

                        success: function (jsonResponse) {
                            //Deal with the response
				
							//Only load the messages if it was a success and there are messages to
							//show. If data is empty do not load more
                            if (jsonResponse.status == "success" && jsonResponse.data != '') {
                                $("#loading").hide();
                                $("#msgContainer").show();
                                //viewModel.messages.removeAll();
                                for (var i = 0; i < jsonResponse.data.messages.length; i++)
								{
									//take off the seconds so that the time displays only as hours and minutes
									jsonResponse.data.messages[i].time = jsonResponse.data.messages[i].time.substring(0, jsonResponse.data.messages[i].time.length - 3);

                                    viewModel.messages.push(jsonResponse.data.messages[i]);

									//add class so that messages sent to the logged in user display on the left
									if (jsonResponse.data.messages[i].userSent == 0)
									{
                                        $(".snglMsg").last().addClass("msgSender");

									}
									//add class so that messages sent FROM the logged in user display on the right
									else 
									{ 
										$(".snglMsg").last().addClass("msgReceiver");
									}
                                }

                                $(".snglMsg.msgSender").addClass("bg-light");
                                $(".snglMsg.msgReceiver").addClass("bg-info text-white");

								//sorts out the messages in case the messages have the same time and date on them
								//viewModel.messages.sort(function (left, right) {
								//		var result;
										
								//		if(left.date == right.date && left.time == right.time)
								//		{ result = 0}
								//		else if(left.date == right.date)
								//		{
								//			if (left.date < right.date)
								//			{ result = -1}
								//			else
								//			{ result = 1}
								//		}
								//		else if(left.date < right.date)
								//		{ result = -1}
								//		else
								//		{result = 1}

								//		return result;
								//});
								
                            }
                            //If there are no messages the user will be taken back
                            //to the conversation page.
							else if (jsonResponse.data == '')
							{ 
                                loadedLast = true;
                                
                            }
                            //jsonResponse status is failure
                            else {
                                $('#jsonError').html(jsonResponse.message);
                                $(".errorMsg").css("display", "inline");
                            }

                        }
                    })
				}
                
            }
        };

		//default the messages to be at the bottom of the element to show
		//the most recent element first, otherwise scroll to keep last message
		//in view. If no messages left to load then it will not scroll
        $(document).ajaxComplete(function () {
			var msgBx = $('div.msgBox');
			if(pageNum == 1){
				msgBx.scrollTop(msgBx.height() * 2);
			}else if (loadedLast){
				
			}
			else {
				msgBx.scrollTop(msgBx.height() * 2.4);
			}
            
		});

        $(function () {
        ko.applyBindings(viewModel);
        viewModel.getMsgs();
        //hide the conversation container until the page has loaded
        $("#msgContainer").hide();
        
        //Set the height of the container to allow it to be more like a messanger app
        $("#msgContainer").height($(window).height() * 0.70);
        $("#message-name").text(sessionStorage.getItem('fullname'));
        
        //setInterval(viewModel.getMsgs, 10000);

        });

    </script>
<!-- Script to handle infinite scroll for mobile view  -->
<script>
		$(window).resize(function () {

        $("#msgContainer").height($(window).height() * 0.70);

		});

	//Function checks to see if we are at the bottom of the page
	//Will used the returned value to determine whether or not to load more conversations
	function getDocHeight() {
    var D = document;
    return Math.max(
        D.body.scrollHeight, D.documentElement.scrollHeight,
        D.body.offsetHeight, D.documentElement.offsetHeight,
        D.body.clientHeight, D.documentElement.clientHeight
    );
	}

	//Function is called when the page is scrolled to check if the page has
	//been scrolled to the bottom in mobile view.
	$('div.msgBox').scroll(function () {
		if ($('div.msgBox').scrollTop() == 0) {
			pageNum++;
			viewModel.getMsgs();
		}
   });

</script>
{% endblock %}

{% block body %}
<div id="mainWrapper" class="col-md-12 col-lg-7">
        <!-- Add heading for messages-->
			<div id="headerText" class="row rounded bg-light mb-3 p-2 pl-3">
				<h1 id="message-name">Messages</h1>
			</div>

        <!-- Add list of messages using knockout -->
        <div id="msgContainer" class="rounded bg-light my-3">

        <div class="msgBox"  data-bind="foreach: messages">

            <!-- Add scroll bar to this and have it be a constant size based on window size
            default to bottom of window-->
            <div class="rounded  my-3 mx-3 p-2 pl-3 pr-3 snglMsg border" >
                <div class="date" data-bind="text: date"></div>
                <div class="time" data-bind="text: time"></div>
                <div class="contents" data-bind="text: messageContent"></div>
            </div>

        </div>
            </div>
            <!--Send box-->
    <div class="errorMsg row rounded bg-danger mb-3 p-2 text-white" id="jsonError"></div>
        <div id="send-message" class="row rounded bg-light">

            <div id="text-box" class="col-sm-9 m-1">
                <textarea class="form-control h-100" maxlength="1500" id="message-convo-text-box"></textarea>
            </div>
            <div id="send-button" class="col-sm-2 m-1 ">
                <button id="convo-msg-send-btn" type="button" onclick="sendMessageFromPage()" class="btn btn-primary h-100 w-100">Send</button>
            </div>
            
        </div>


        <!-- Add message indicating success or failure (hidden) -->
        <p class="status"></p>

        <!-- Add error message if needed -->


    </div>

<script>
    $("#message-convo-text-box").on('keyup', function (e) {
        if (e.keyCode == 13) {
            $('#message-convo-text-box').val($('#message-convo-text-box').val().substring(0, $('#message-convo-text-box').val().length - 1));
            sendMessageFromPage();
        }
    });

    function sendMessageFromPage() {

       text = $('#message-convo-text-box').val();
       msg = encodeURIComponent(text);
        $('#message-convo-text-box').val('');

        json = {
            "sender": '{{ selfGuid }}',
            "receiver": sessionStorage.getItem('userID'),
            "message" : msg
        };
     if (text.length > 0)
    {

        d = moment(new Date());
                        mess = { "userSent":1, "date":d.format("YYYY-MM-DD"), "time":d.format("HH:mm"), "messageContent":text }

                        viewModel.messages.push(mess);
                        $(".snglMsg").last().addClass("msgReceiver bg-info text-white");

       }

         $.ajax(
            {
                url: '../message/send/' + JSON.stringify(json),
                type: 'GET',
                dataType: 'json',

                success: function (jsonResponse) {
                   

                    //Deal with the response
                    if (jsonResponse.status == "success")
                    {

                        
                        

                    }
                    else
                    {
                        $("#jsonError").show();
                        $("#jsonError").text(jsonResponse.message);
                        setTimeout(function () { $("#jsonError").hide(); }, 3000)
                    }
                }
            }
        );
    }

</script>

{% endblock %}