{% extends 'base.html.twig' %}
{% block javascripts %}
<script>
	$(function () {
		$("#loading").hide();

	});


</script>
{% endblock %}
{% block body %}
<div class="row">
	<h1 class="bg-light rounded p-2 col-lg-8 offset-lg-2">User created, you may now log in!</h1>
</div>


{% endblock %}